<html>
    <head>
        <title>TextTunes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./static/styles/style.css" >
    </head>
    <body>
    <style type="text/css">
   body { background-color: rgb(255,189,89); }
</style>
        <br/>
        <div class="container container-fluid">
            <div class="row justify-content-left">
                        <h1 id="name"><a href="/"><img src="/static/logo.png" height="50"></a></h1>
            </div>
        </div>
        <div class="container container-fluid">
            <div class="row justify-content-center">
                <img src="/static/logomain.png" height="250" width="250">
            </div>
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-success" href="/go" role="button">Get Started</a>
            </div>

        </div>
        <div class="container container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <hr>
                    <p class="text-center">Made with ❤️ in Philadelphia.</p>
                </div>
            </div>
        </div>
    </body>
</html>