<html>
    <head>
        <title>Amit Lohe</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="./static/styles/style.css" >-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">

            //ajax to check for new song every 5 seconds
            function loadSong(songs) {
                console.log(songs)
                if (songs.length == 0) {
                    var message = "<p>You currently have no song playing.</p>"
                    $('#current-song').html(message)
                } else {
                    song_info = songs[0]
                    console.log(song_info['artist'])
                    console.log(song_info['name'])
                    var message = "<p>"+song_info['name']+"</p><p>"+song_info['artist']+"</p><a href='"+song_info['preview_url']+"'>Link</a>"
                    $('#current-song').html(message)
                }
            }
            
            //get request to retrieve new song data
            function getSong() {
                $.get( "/getsong", function( songs ) {
                    loadSong(songs)
                });
            }
            //setting interval of 5 seconds
            window.setInterval(function() { getSong() }, 5000);

            getSong();
        </script>
    </head>
    <body>
        <br/>
        <div class="container container-fluid">
            <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 id="name"><a href="/">Amit Lohe</a></h1>
                        <hr>
                    </div>
            </div>
        </div>
        <div class="container container-fluid">
            <!-- div used to hold info about current song  --> 
            <div id="current-song">
            </div>
        </div>
        <div class="container-fluid">
            <!-- the SDK wasn't appearing in a user's devices all the time, so for now let's not use it, but we should probably figure it out  --> 
            <!-- Spotify Web Player SDK code from their website --> 
            <!--
            <script src="https://sdk.scdn.co/spotify-player.js"></script>
            <script>
                window.onSpotifyWebPlaybackSDKReady = () => {
                    // You can now initialize Spotify.Player and use the SDK
                    const token = "{{ token }}";
                    const player = new Spotify.Player({ name: 'Web Playback SDK Quick Start Player', getOAuthToken: cb => { cb(token); } });
                    player.connect();
                }              
            </script>
            -->

            <script type="text/javascript">
                const token = "{{ token }}";
                let device_id = null;
                // retrieving list of user's devices.
                $.ajax({
                    url: "https://api.spotify.com/v1/me/player/devices",
                    type: "GET",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader('Authorization', 'Bearer ' + token );
                    },
                    complete: function(x, y) {
                        console.log('COMPLETE')
                    },
                    success: function(data) { 
                        let devices = data['devices'];
                        console.log(devices);
                        // selecting device on which to play
                        for(i in devices) {
                            if(devices[i]['name'] == 'ARLOHE'){
                                device_id = devices[i]['id'];
                                console.log(device_id)
                                // calling method to play song once device id has been set
                                playWebSDK();
                            }
                        }
                        
                    }
                });

                playWebSDK = function() {
                    $.ajax({
                            url: "https://api.spotify.com/v1/me/player/play?device_id=" + device_id,
                            type: "PUT",
                            data: '{"uris": ["spotify:track:6u7jPi22kF8CTQ3rb9DHE7"]}',
                            beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + token );},
                            success: function(data) { 
                                console.log(data)
                            }
                        });
                }
            </script>
        </div>
        <div class="container container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <hr>
                    <p class="text-center">Made with ❤️ in Philadelphia.</p>
                </div>
            </div>
        </div>
    </body>
</html>
